@font-face {
  font-family: "feather";
  src: url("../fonts/feathericons/feather-webfont.eot");
  src: url("../fonts/feathericons/feather-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/feathericons/feather-webfont.woff") format("woff"), url("/../../fonts/feathericons/feather-webfont.ttf") format("truetype"), url("../fonts/feathericons/feather-webfont.svg#feather") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Character Mapping Method */
/* line 16, ../sass/feather.scss */
[data-icon]:before {
  display: inline-block;
  font-family: "feather";
  content: attr(data-icon);
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* CSS Class Mapping Method */
/* line 32, ../sass/feather.scss */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  font-family: "feather";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 46, ../sass/feather.scss */
.icon-eye:before {
  content: "\e000";
}

/* line 50, ../sass/feather.scss */
.icon-paper-clip:before {
  content: "\e001";
}

/* line 54, ../sass/feather.scss */
.icon-mail:before {
  content: "\e002";
}

/* line 58, ../sass/feather.scss */
.icon-mail:before {
  content: "\e002";
}

/* line 62, ../sass/feather.scss */
.icon-toggle:before {
  content: "\e003";
}

/* line 66, ../sass/feather.scss */
.icon-layout:before {
  content: "\e004";
}

/* line 70, ../sass/feather.scss */
.icon-link:before {
  content: "\e005";
}

/* line 74, ../sass/feather.scss */
.icon-bell:before {
  content: "\e006";
}

/* line 78, ../sass/feather.scss */
.icon-lock:before {
  content: "\e007";
}

/* line 82, ../sass/feather.scss */
.icon-unlock:before {
  content: "\e008";
}

/* line 86, ../sass/feather.scss */
.icon-ribbon:before {
  content: "\e009";
}

/* line 90, ../sass/feather.scss */
.icon-image:before {
  content: "\e010";
}

/* line 94, ../sass/feather.scss */
.icon-signal:before {
  content: "\e011";
}

/* line 98, ../sass/feather.scss */
.icon-target:before {
  content: "\e012";
}

/* line 102, ../sass/feather.scss */
.icon-clipboard:before {
  content: "\e013";
}

/* line 106, ../sass/feather.scss */
.icon-clock:before {
  content: "\e014";
}

/* line 110, ../sass/feather.scss */
.icon-clock:before {
  content: "\e014";
}

/* line 114, ../sass/feather.scss */
.icon-watch:before {
  content: "\e015";
}

/* line 118, ../sass/feather.scss */
.icon-air-play:before {
  content: "\e016";
}

/* line 122, ../sass/feather.scss */
.icon-camera:before {
  content: "\e017";
}

/* line 126, ../sass/feather.scss */
.icon-video:before {
  content: "\e018";
}

/* line 130, ../sass/feather.scss */
.icon-disc:before {
  content: "\e019";
}

/* line 134, ../sass/feather.scss */
.icon-printer:before {
  content: "\e020";
}

/* line 138, ../sass/feather.scss */
.icon-monitor:before {
  content: "\e021";
}

/* line 142, ../sass/feather.scss */
.icon-server:before {
  content: "\e022";
}

/* line 146, ../sass/feather.scss */
.icon-cog:before {
  content: "\e023";
}

/* line 150, ../sass/feather.scss */
.icon-heart:before {
  content: "\e024";
}

/* line 154, ../sass/feather.scss */
.icon-paragraph:before {
  content: "\e025";
}

/* line 158, ../sass/feather.scss */
.icon-align-justify:before {
  content: "\e026";
}

/* line 162, ../sass/feather.scss */
.icon-align-left:before {
  content: "\e027";
}

/* line 166, ../sass/feather.scss */
.icon-align-center:before {
  content: "\e028";
}

/* line 170, ../sass/feather.scss */
.icon-align-right:before {
  content: "\e029";
}

/* line 174, ../sass/feather.scss */
.icon-book:before {
  content: "\e030";
}

/* line 178, ../sass/feather.scss */
.icon-layers:before {
  content: "\e031";
}

/* line 182, ../sass/feather.scss */
.icon-stack:before {
  content: "\e032";
}

/* line 186, ../sass/feather.scss */
.icon-stack-2:before {
  content: "\e033";
}

/* line 190, ../sass/feather.scss */
.icon-paper:before {
  content: "\e034";
}

/* line 194, ../sass/feather.scss */
.icon-paper-stack:before {
  content: "\e035";
}

/* line 198, ../sass/feather.scss */
.icon-search:before {
  content: "\e036";
}

/* line 202, ../sass/feather.scss */
.icon-zoom-in:before {
  content: "\e037";
}

/* line 206, ../sass/feather.scss */
.icon-zoom-out:before {
  content: "\e038";
}

/* line 210, ../sass/feather.scss */
.icon-reply:before {
  content: "\e039";
}

/* line 214, ../sass/feather.scss */
.icon-circle-plus:before {
  content: "\e040";
}

/* line 218, ../sass/feather.scss */
.icon-circle-minus:before {
  content: "\e041";
}

/* line 222, ../sass/feather.scss */
.icon-circle-check:before {
  content: "\e042";
}

/* line 226, ../sass/feather.scss */
.icon-circle-cross:before {
  content: "\e043";
}

/* line 230, ../sass/feather.scss */
.icon-square-plus:before {
  content: "\e044";
}

/* line 234, ../sass/feather.scss */
.icon-square-minus:before {
  content: "\e045";
}

/* line 238, ../sass/feather.scss */
.icon-square-check:before {
  content: "\e046";
}

/* line 242, ../sass/feather.scss */
.icon-square-cross:before {
  content: "\e047";
}

/* line 246, ../sass/feather.scss */
.icon-microphone:before {
  content: "\e048";
}

/* line 250, ../sass/feather.scss */
.icon-record:before {
  content: "\e049";
}

/* line 254, ../sass/feather.scss */
.icon-skip-back:before {
  content: "\e050";
}

/* line 258, ../sass/feather.scss */
.icon-rewind:before {
  content: "\e051";
}

/* line 262, ../sass/feather.scss */
.icon-play:before {
  content: "\e052";
}

/* line 266, ../sass/feather.scss */
.icon-pause:before {
  content: "\e053";
}

/* line 270, ../sass/feather.scss */
.icon-stop:before {
  content: "\e054";
}

/* line 274, ../sass/feather.scss */
.icon-fast-forward:before {
  content: "\e055";
}

/* line 278, ../sass/feather.scss */
.icon-skip-forward:before {
  content: "\e056";
}

/* line 282, ../sass/feather.scss */
.icon-shuffle:before {
  content: "\e057";
}

/* line 286, ../sass/feather.scss */
.icon-repeat:before {
  content: "\e058";
}

/* line 290, ../sass/feather.scss */
.icon-folder:before {
  content: "\e059";
}

/* line 294, ../sass/feather.scss */
.icon-umbrella:before {
  content: "\e060";
}

/* line 298, ../sass/feather.scss */
.icon-moon:before {
  content: "\e061";
}

/* line 302, ../sass/feather.scss */
.icon-thermometer:before {
  content: "\e062";
}

/* line 306, ../sass/feather.scss */
.icon-drop:before {
  content: "\e063";
}

/* line 310, ../sass/feather.scss */
.icon-sun:before {
  content: "\e064";
}

/* line 314, ../sass/feather.scss */
.icon-cloud:before {
  content: "\e065";
}

/* line 318, ../sass/feather.scss */
.icon-cloud-upload:before {
  content: "\e066";
}

/* line 322, ../sass/feather.scss */
.icon-cloud-download:before {
  content: "\e067";
}

/* line 326, ../sass/feather.scss */
.icon-upload:before {
  content: "\e068";
}

/* line 330, ../sass/feather.scss */
.icon-download:before {
  content: "\e069";
}

/* line 334, ../sass/feather.scss */
.icon-location:before {
  content: "\e070";
}

/* line 338, ../sass/feather.scss */
.icon-location-2:before {
  content: "\e071";
}

/* line 342, ../sass/feather.scss */
.icon-map:before {
  content: "\e072";
}

/* line 346, ../sass/feather.scss */
.icon-battery:before {
  content: "\e073";
}

/* line 350, ../sass/feather.scss */
.icon-head:before {
  content: "\e074";
}

/* line 354, ../sass/feather.scss */
.icon-briefcase:before {
  content: "\e075";
}

/* line 358, ../sass/feather.scss */
.icon-speech-bubble:before {
  content: "\e076";
}

/* line 362, ../sass/feather.scss */
.icon-anchor:before {
  content: "\e077";
}

/* line 366, ../sass/feather.scss */
.icon-globe:before {
  content: "\e078";
}

/* line 370, ../sass/feather.scss */
.icon-box:before {
  content: "\e079";
}

/* line 374, ../sass/feather.scss */
.icon-reload:before {
  content: "\e080";
}

/* line 378, ../sass/feather.scss */
.icon-share:before {
  content: "\e081";
}

/* line 382, ../sass/feather.scss */
.icon-marquee:before {
  content: "\e082";
}

/* line 386, ../sass/feather.scss */
.icon-marquee-plus:before {
  content: "\e083";
}

/* line 390, ../sass/feather.scss */
.icon-marquee-minus:before {
  content: "\e084";
}

/* line 394, ../sass/feather.scss */
.icon-tag:before {
  content: "\e085";
}

/* line 398, ../sass/feather.scss */
.icon-power:before {
  content: "\e086";
}

/* line 402, ../sass/feather.scss */
.icon-command:before {
  content: "\e087";
}

/* line 406, ../sass/feather.scss */
.icon-alt:before {
  content: "\e088";
}

/* line 410, ../sass/feather.scss */
.icon-esc:before {
  content: "\e089";
}

/* line 414, ../sass/feather.scss */
.icon-bar-graph:before {
  content: "\e090";
}

/* line 418, ../sass/feather.scss */
.icon-bar-graph-2:before {
  content: "\e091";
}

/* line 422, ../sass/feather.scss */
.icon-pie-graph:before {
  content: "\e092";
}

/* line 426, ../sass/feather.scss */
.icon-star:before {
  content: "\e093";
}

/* line 430, ../sass/feather.scss */
.icon-arrow-left:before {
  content: "\e094";
}

/* line 434, ../sass/feather.scss */
.icon-arrow-right:before {
  content: "\e095";
}

/* line 438, ../sass/feather.scss */
.icon-arrow-up:before {
  content: "\e096";
}

/* line 442, ../sass/feather.scss */
.icon-arrow-down:before {
  content: "\e097";
}

/* line 446, ../sass/feather.scss */
.icon-volume:before {
  content: "\e098";
}

/* line 450, ../sass/feather.scss */
.icon-mute:before {
  content: "\e099";
}

/* line 454, ../sass/feather.scss */
.icon-content-right:before {
  content: "\e100";
}

/* line 458, ../sass/feather.scss */
.icon-content-left:before {
  content: "\e101";
}

/* line 462, ../sass/feather.scss */
.icon-grid:before {
  content: "\e102";
}

/* line 466, ../sass/feather.scss */
.icon-grid-2:before {
  content: "\e103";
}

/* line 470, ../sass/feather.scss */
.icon-columns:before {
  content: "\e104";
}

/* line 474, ../sass/feather.scss */
.icon-loader:before {
  content: "\e105";
}

/* line 478, ../sass/feather.scss */
.icon-bag:before {
  content: "\e106";
}

/* line 482, ../sass/feather.scss */
.icon-ban:before {
  content: "\e107";
}

/* line 486, ../sass/feather.scss */
.icon-flag:before {
  content: "\e108";
}

/* line 490, ../sass/feather.scss */
.icon-trash:before {
  content: "\e109";
}

/* line 494, ../sass/feather.scss */
.icon-expand:before {
  content: "\e110";
}

/* line 498, ../sass/feather.scss */
.icon-contract:before {
  content: "\e111";
}

/* line 502, ../sass/feather.scss */
.icon-maximize:before {
  content: "\e112";
}

/* line 506, ../sass/feather.scss */
.icon-minimize:before {
  content: "\e113";
}

/* line 510, ../sass/feather.scss */
.icon-plus:before {
  content: "\e114";
}

/* line 514, ../sass/feather.scss */
.icon-minus:before {
  content: "\e115";
}

/* line 518, ../sass/feather.scss */
.icon-check:before {
  content: "\e116";
}

/* line 522, ../sass/feather.scss */
.icon-cross:before {
  content: "\e117";
}

/* line 526, ../sass/feather.scss */
.icon-move:before {
  content: "\e118";
}

/* line 530, ../sass/feather.scss */
.icon-delete:before {
  content: "\e119";
}

/* line 534, ../sass/feather.scss */
.icon-menu:before {
  content: "\e120";
}

/* line 538, ../sass/feather.scss */
.icon-archive:before {
  content: "\e121";
}

/* line 542, ../sass/feather.scss */
.icon-inbox:before {
  content: "\e122";
}

/* line 546, ../sass/feather.scss */
.icon-outbox:before {
  content: "\e123";
}

/* line 550, ../sass/feather.scss */
.icon-file:before {
  content: "\e124";
}

/* line 554, ../sass/feather.scss */
.icon-file-add:before {
  content: "\e125";
}

/* line 558, ../sass/feather.scss */
.icon-file-subtract:before {
  content: "\e126";
}

/* line 562, ../sass/feather.scss */
.icon-help:before {
  content: "\e127";
}

/* line 566, ../sass/feather.scss */
.icon-open:before {
  content: "\e128";
}

/* line 570, ../sass/feather.scss */
.icon-ellipsis:before {
  content: "\e129";
}
